# ============================================
# Projeto: Tele_IA Transcrição (Pipeline v2)
# Ambiente recomendado: Python 3.11 (Windows)
# ============================================

# IMPORTANTES (evita conflitos)
numpy>=2.0.2,<2.1.0

whisperx==3.7.2
faster-whisper>=1.1.1

pyannote.audio==3.1.1

# Torch / Torchaudio
# (manter pareados; se você usa CPU, o pip resolve, mas mantenha versões iguais)
torch>=2.7.1
torchaudio>=2.7.1

onnxruntime>=1.16.0
speechbrain==1.0.3
deepmultilingualpunctuation==1.0.1

fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
jiwer==4.0.0

pandas>=2.2.0
openpyxl>=3.1.0
python-dotenv>=1.1.0
matplotlib>=3.8.0
